.search-function{
    text-align: center;
    background-color:rgb(179, 182, 183) ;
    padding-bottom: 3%;
}

.search-bar{
    border: 3px solid rgb(111, 26, 7);
    border-radius: 8px;
}

.search-submit{
    border: 3px solid rgb(111, 26, 7);
    border-radius: 8px;
    color: rgb(111, 26, 7);
    font-size: 14px;
}

@media screen and (max-width: 850px) {
    .search-function {
        display: none;
    }
}